@using Prueba.Entidades
@model IEnumerable<CategoriaNota>

@{
    ViewData["Title"] = "Categorias de Notas";
}

<h1>@ViewBag.Title</h1>
<p>
    <a class="btn btn-primary mb-3" asp-action="CrearCategoria">Crear Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a class="btn btn-primary mb-3" asp-action="EditarCategoria" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-success mb-3" asp-action="VerCategoria" asp-route-id="@item.Id">Ver Categoria</a>
                    <a class="btn btn-warning mb-3" asp-action="BorrarCategoria" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>